*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/res/raw/Screenshot_1586023798.png
/app/src/main/res/raw/Screenshot_1586023806.png
/app/src/main/res/raw/coronastats.png
/app/src/main/res/raw/coronavirus.svg
/app/release/
